//Font sizes

$font-size-smaller: 0.8rem;
$font-size-small: 0.9rem;
$font-size-medium: 1rem;
$font-size-large: 1.1rem;
$font-size-larger: 1.2rem;

// Main colors

$header-background-color: rgb(0, 130, 143);
$search-button-color: rgb(33, 150, 243);
$gray-color: rgb(79, 79, 79);
$very-light-blue-color: rgb(246, 251, 255);
$light-gray-color: rgb(242, 242, 242);
