@import "../constants.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html {
  font-size: 1em;

  @media (max-width: 768px) {
    font-size: 0.85em;
  }

  @media (min-width: 2460px) {
    font-size: 1.5em;
  }

  @media (min-width: 3760px) {
    font-size: 2em;
  }
}

body {
  font-family: "Roboto";
}

html,
body,
#root {
  min-height: 100%;
}

p,
span {
  font-size: $font-size-medium;
}

h1 {
  font-size: $font-size-larger;
}
